<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stu(dying)</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
    <script src="script.js" defer></script>
</head>

<body>
    
<div class="h-screen flex flex-col">
    <!-- PDF half screen -->
    <embed id="pdfViewer" type="application/pdf" class="w-full h-1/2" />

    <!-- YouTube half screen -->
    <iframe
        class="w-full h-1/2"
        src="https://www.youtube-nocookie.com/embed/videoseries?list=PLXiObVN2STf9yQ9yeJFwpV_ASC3vegIex"
        allowfullscreen>
    </iframe>
</div>
</div>
</body>
</html>