<!DOCTYPE html>
<html lang="en"></html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stu(dying)</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@5.4.624/wasm/openjpeg_nowasm_fallback.min.js"></script>
</head>

<body>
    
<div>
    <!-- PLACE HOLDER-->
        <object
    data="../assets/"
    type="application/pdf"
    width="100%"
    height="100%"
    >
    <p>
        
    </p>
    </object>
</div>   
    <iframe width="100%" height="320px" src="https://www.youtube.com/embed/videoseries?si=xTYfj17HYZXuJiqY&amp;list=PLXiObVN2STf9yQ9yeJFwpV_ASC3vegIex" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"></iframe>
    
</body>